.aboutus {
    text-align: center;
}

.services span {
    width: 200px;
    display: inline-block;
    border-radius: 50%;
    background-color: lightblue
}

.services h1 {
    text-align: center;
}


.services i {
    font-size: 30px;
    padding: 20px 20px;
    color: #fff;
    background-color: lightgreen;
    width: 80px;
    height: 80px;
    /*changes the roundness of the container*/
    border-radius: 50%;
    icon alignment-baseline: central;
}

/*this is the very top portion of the page*/

.banner {
    color: #777777;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;

}

/*this is for the logo*/

.ban {
    border-radius: 50%;
}

/*this is the background picture*/

.home {
    background-size: cover;
    width: 1550px;
    height: 500px;
}

/*this is for the transparent box that contains the introductory texts*/

.textbox {
    position: absolute;
    bottom: 260px;
    right: 470px;
    background-color: #9D9C9C;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    opacity: 0.5;
    width: 540px;
    height: 250px;
}

/*this is targetting p from the texts*/

.text p {
    width: 500px;
}

/*introductory texts*/

.text {
    position: absolute;
    bottom: 270px;
    right: 470px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    font-size: 20px;
    opacity: 2;
}

/*nav bar*/

.nav-item {
    opacity: 0.9;
}

/*nav bar when mouse hovers over*/

.nav-item:hover {
    opacity: 1.1;
    background-color: red;
}

.pricing  {
    text-align: center;
    background-image: url(https://images.ecosia.org/_gWRXUtYCVa7W0epUTzwrCQFgJg=/0x390/smart/http%3A%2F%2Fs13.favim.com%2Forig%2F160512%2Fmarshmallow-purple-bluemarshmallows-babyblue-Favim.com-4302658.jpeg); 
    background-size:cover;
    width: 100%;
    height: 100%;


}

.align-self-start:hover {
    background-color: lightpink;
}

.align-self-center:hover {
    background-color: lightpink;
}

.align-self-end:hover {
    background-color: lightpink;
}


.navbar h3 {
    position: absolute;
    right: 200px;
    bottom: 35px;

}
.navbar button{
    position: absolute;
    right: 450px;
    bottom: 0px;
}
.navbar{
    
}
.btn-info{
    position: absolute;
    right: 270px;
    bottom: 0px;
}

#offers {
    height: 50px;
}

.teammates {
    border-radius: 50%;
    width: 300px;
    height:300px;
}
.carousel img{
    background-size: cover;
    height: 300px;
}

.slide1{
    background-size: cover;
    width: 1300px;
    height:1500px;
}
.slide2{
    
   background-size: cover;
    width: 1300px;
    height:1500px;
}
.slide3{
    background-size: cover;
    width: 1300px;
    height:1500px;
}
.slide4{
  background-size: cover;
      width: 1300px;
    height:1500px;
}